
:root{
    --pink-punk: #cb0c59;
    --pink-strong: #7b1346;
    --blue-night: #091833;
    --blue-sky: #133e7c;
    --green: #0abdc6; 
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Share Tech Mono', monospace;
    scroll-behavior: smooth;
}
body{
    background: #000000;
background: -webkit-linear-gradient(bottom, #000000, #191D40);
background: -moz-linear-gradient(bottom, #000000, #191D40);
background: linear-gradient(to top, #000000, #191D40);
}
.nav-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: #191D40;
}
.nav-list li{
    width: 25%;
    height: auto;
    padding: 15px 0;
    text-align: center;
}
.nav-list li:hover{
    background-color: var(--blue-sky);
}
.nav-list li > a{
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 400;
    color: whitesmoke;
    text-decoration: none;
}
.header-container{
    width: 100%;
    min-width: 320px;
    height: 90vh;
    border: 0;
    margin: 0;
    background-image: url("https://i.postimg.cc/dVxq22Sv/cyber.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.header-container-text{
    width: 100%;
    padding-left: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--green);
    font-family: 'Iceland', cursive;
    
}
.header-container-title{
    width: 100%;
    padding-left: 20px;
    font-size: 3.4rem;
    font-weight: bold;
    text-align: left;  
    color: white; 
    font-family: 'Iceland', cursive;

}
.social-container{
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-top: 5px;
}
.main-section-about{
    width: 100%;
    min-width: 320px;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    color:white;
}
.main-about-title{
    width: 100px;
    font-size: 2.6rem;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 20px auto;
    border-bottom: 4px double var(--green);
    font-family: 'Iceland', cursive;
}
.main-about-container
{
    width: 100%;
    height: auto;
    display: block;
}
.about-container-left{
    width: 100%;
    height: auto;
    margin: 0;
}
#profile-image{
    width: 200px;
    border-radius: 100%;
    border: 2px solid var(--green);
    box-shadow: 0px 2px 20px 0px var(--green);
}
#profile-image ~ p{
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; 
    margin-top: 20px;
    padding: 15px;
    text-align: left;
    font-family: 'Share Tech Mono', monospace;

}
.about-container-right{
    width: 320px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
.about-container-right > h3{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
}
.about-container-right div{
    width: 100px;
    height: auto;
    margin: 3px;
    background: linear-gradient(207.8deg, var(--pink-punk) 10%, var(--green) 100%);
}
.about-container-right div:hover{
    background: linear-gradient(207.8deg, var(--pink-strong) 10%, var(--blue-night) 100%);
}
.about-container-right div > p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.main-section-projects{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 950px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    
}
.main-projects-title{
    width: 110px;
    font-size: 2.6rem;
    font-weight: bold;
    margin: 30px auto;
    padding-top: 10px;
    border-bottom: 4px double var(--green);
    text-align: center;
    color: white;
    font-family: 'Iceland', cursive;
    
}
.projects-container{
    width: 100%;
    min-width: 288px;
    max-width: 475px;
    padding-top: 20px;
    position: relative;
}
.web-title{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--green);
    margin-top: 10px;
}
.web-container{
    width: 90%;
    height: auto;
    margin: 20px auto;
    border: 2px solid var(--green);
    background-color: var(--blue-night);
    box-shadow: var(--green) 0px 0.4rem 0.8rem;
    color: white;
}
.web-container:hover{
    border: 2px solid var(--pink-strong);
    box-shadow: var(--pink-punk) 0px 0.4rem 0.8rem;
}
.web-container-back{
    width: 100%;
    height: 150px;
    padding: 5px;
}
.web-container-title{
    width: 100%;
    text-align: center;
    font-size: 1.6rem; 
    font-weight: 500;
    padding: 5px;
    color: var(--green);
}
.web-container-text{
    width: 95%;
    margin: 5px auto;
    text-align: left;
    font-size: 1.3rem;
}
.icons{
    width: 100%;
    height: auto;
    text-align: center;
}
.HTML,.CSS,.GIT,.UNITY,.CSHARP{
    width: 32px;
    height: 32px;
    margin: 5px auto;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}
.HTML{
    background-image: url("https://i.postimg.cc/kghw6WfH/HTML-Small.png");
}
.CSS{
    background-image: url("https://i.postimg.cc/k5nLRsj9/css-small.png");
}
.GIT{
    background-image: url("https://i.postimg.cc/mgWvBBCP/git-small.png");
}
.UNITY{
    background-image: url("https://i.postimg.cc/rFrBBK06/unity-small.png");
}
.CSHARP{
    background-image: url("https://i.postimg.cc/DwQtzHPB/csharp-small.png");
}
.buttons{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
}
.buttons button{
    width: 150px;
    height: 25px;
    margin: 10px 20px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #181a1b;
    border: 2px solid var(--green);
}
.buttons button:hover{
    background-color: var(--pink-punk);
    border: 2px solid var(--green);
}
.buttons button:checked{
    border: 2px solid var(--green);
}
.buttons button > a{
    text-decoration: none;
    color: white;  
}
footer{
    width: 100%;
    height: auto;
    background-color: #242424;
    text-align: center;
    color: white;
    margin-top: 100px;
}
footer h2{
    width: 90%;
    border-top: 2px solid var(--pink-punk);
    height: auto;
    font-family: 'Iceland', cursive;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 10px auto;
    padding-top: 10px;

}
.contact{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.4rem;
    
}
.copyright{
    width: 100%;
    height: auto;
    margin: 5px auto;
    font-size:1.2rem;
    padding-top: 10px;
}

