.nav-list li > a{
    padding: 0 40px;
}
.header-container{
    align-items: center;
}
.header-container-text, .header-container-title,.social-container{
    width: 50%;
    margin: 0;
    padding-left: 0;
}
.header-container-text{
    font-size: 2.4rem;
}
.header-container-title{
    font-size: 3.8rem;
}
.main-about-container{
    display: flex;
    flex-wrap: wrap;
    
}
.main-about-title{
    position: relative; 
    
}
.about-container-left,.about-container-right{
    width: 50%;
    margin-top: 50px;
}

.main-projects-title{
    position: absolute;
}
.main-section-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
.projects-container{
    margin-top: 100px;
}
.buttons button a{
   padding: 0 20px;
}
